{% extends 'base.html' %}
{% block head %}
<title>Blog|Homepage</title>
{% endblock %}
{% block content %}
<div class="container">
    <h3 class="text-center">Welcome to our bloging site:</h3>
    <h2 class="text-center text-danger">Faeture of this site</h2>
    <p class="text-center text-alert">You can read post</p>
    <p class="text-center text-danger">You can create post</p>
    <p class="text-center">You can edit post</p>
    <p class="text-center text-warning">You can delete post</p>
    <p class="text-center text-success">You can upload image with post</p>

</div>
{% endblock %}